body {
    font-family: 'Noto Sans JP', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
}
.sen{
color: aqua;
}
.sen0{
color: red;
}
.sen1{
color: red;
}
.sen2{
color: blue;
}
.sen3{
color: blueviolet;
}
.sen4{
color: red;
}